@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');
html {
  font-family: 'Roboto', "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
body {
  background: #ffffff;
  margin: 0 auto;
}
.center {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.rightSep {
  margin-right: 20px;
}
.float-right {
  float: right;
  position: relative;
  top: 42px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .float-right {
    float: right;
    position: absolute;
    top: 67px;
    right: 2px;
  }
}
.logo {
  display: block;
  margin: 0 auto;
}
.logo img {
  width: 250px;
  height: 42px;
  margin: 38px 0 38px 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .logo img {
    margin: 15px auto;
    display: block;
  }
}
.phone {
  display: inline;
  background: url("img/Vrstva 1.png") no-repeat 12px, 50px;
  float: right;
  padding: 49px 30px 49px 50px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .phone {
    display: block;
    float: none;
    padding: 10px 50px;
  }
}
.phone__num {
  color: #ff6500;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
}
.button {
  background-color: transparent;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 1px solid #cccccc;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 30px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .button {
    display: block;
    max-width: 45%;
    text-align: center;
    margin: 5px auto;
  }
}
.button:hover {
  background-color: #f0f0f0;
  transition: .5s ease;
}
.button:active {
  background-color: #f0f0f0;
}
.button--orange {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c75000;
  text-shadow: 0px 2px 0px #cb5100;
}
.button--orange:hover,
.button--orange :focus {
  background-color: #cd5200;
}
.button--blue {
  background-color: #5bc4f1;
  color: white;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #2397c9;
  text-shadow: 0px 2px 0px #279acc;
}
.button--blue:hover,
.button--blue :focus {
  background-color: #0091cf;
}
.main-menu {
  background-color: #f0f0f0;
  height: auto;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu {
    text-align: right;
  }
}
.main-menu__subsection {
  display: inline-block;
  list-style-type: none;
  margin: 25px 0 25px 20px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu__subsection {
    margin: 0;
  }
}
.main-menu__subsection:after {
  content: " \2022";
  color: white;
  padding-left: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu__subsection:after {
    content: none;
  }
}
.main-menu__subsection:last-child {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu__subsection:last-child {
    display: inline-block;
  }
}
.main-menu__subsection:last-child:after,
.main-menu__subsection:nth-last-child(2):after {
  content: none;
}
.main-menu__subsection:first-child {
  margin-left: 0px;
}
.main-menu__text {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  position: relative;
}
.main-menu__text:hover {
  color: black;
}
@media only screen and (min-width: 768px) {
  .main-menu__text:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -25px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .main-menu__text:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu__text {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu--responsive {
    display: block;
  }
}
.main-menu--responsive li:not(:last-child) {
  display: block;
  padding: 10px;
  transition: 0.5s ease;
}
.main-menu--responsive li:not(:last-child) a {
  display: block;
  text-align: center;
}
.main-menu--responsive li:last-child {
  position: absolute;
  top: 116px;
  right: 0;
}
.main-menu--burger {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-menu--burger {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
  }
}
.main-menu--burger:hover,
.main-menu--burger :focus {
  background-color: #cccccc;
  transition: 0.5s ease;
}
.panel__h1 {
  color: white;
  font-size: 35px;
  font-weight: bolder;
  padding: 70px 0 30px 20px;
  margin: 0;
}
.panel__h1--dark {
  color: #3d4446;
}
.panel__h1--center {
  text-align: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .panel__h1 {
    padding: 30px;
    font-size: 27px;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .panel__h1 {
    padding-left: 0;
  }
}
.panel__h2 {
  margin: 0;
  padding-left: 20px;
}
.panel__h2--dark {
  color: #3d4446;
}
.panel__h2--center {
  text-align: center;
}
.panel__desc {
  color: white;
  padding: 0 0 60px 20px;
  margin: 0;
  max-width: 645px;
}
.panel__desc--dark {
  color: #3d4446;
}
.panel__desc--center {
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .panel__desc {
    padding: 0 30px 30px 30px;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .panel__desc {
    padding-left: 0;
  }
}
.panel--grey {
  background-color: #f5f5f5;
}
.triangle {
  display: inline-block;
  width: 25px;
  margin-left: 10px;
  margin-right: 21px;
  background: url(img/trianhle.png) no-repeat;
  height: 25px;
  position: relative;
  top: 7px;
}
.separator {
  height: 2px;
  background: #e1e1e1;
  width: 38px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.separator--long {
  width: 100%;
}
.separator--thin {
  height: 1px;
}
.main-panel {
  background-color: rgba(10, 24, 74, 0.7);
  position: relative;
  height: 650px;
}
.main-panel__h1 {
  padding-top: 150px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-panel__h1 {
    padding: 30px;
  }
}
.main-panel:after {
  content: "";
  background: url("img/panelbg.jpg") no-repeat;
  background-size: 112%;
  background-position: 0 -186px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  height: 650px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main-panel:after {
    background-size: 200%;
    background-position: -280px -35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-panel:after {
    background-size: 175%;
    background-position: -450px -186px;
  }
}
.youtube {
  margin-top: 130px;
  width: 540px;
  height: 370px;
  float: right;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .youtube {
    margin-top: 0px;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  float: right;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .video-container {
    width: 100%;
  }
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 100%;
    height: 100%;
  }
}
.list-counter {
  max-width: 900px;
  counter-reset: li;
  /* Initiate a counter */
  margin: 0 auto;
  padding-bottom: 123px;
}
.list-counter__section {
  width: 50%;
  display: inline-block;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .list-counter__section {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .list-counter__section {
    width: 50%;
  }
}
.list-counter li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 17px 2em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 4px 15px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
}
.list-counter li:before {
  transition: all 0.5s;
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.8em;
  /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border: 1px solid #e1e1e1;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  color: #5bc4f1;
  background: white;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
}
.list-counter li:hover:before {
  background-color: #3d4446;
  color: #0091cf;
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.list {
  list-style-type: none;
  font-size: 15px;
}
.list__item {
  padding-bottom: 15px;
}
.list__item:before {
  content: "•";
  color: #5bc4f1;
  font-size: 18px;
  position: relative;
  left: -20px;
}
.btn-toolbar {
  text-align: center;
  margin: 30px 0 110px 0;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .btn-toolbar {
    margin: 30px 5px;
    padding-bottom: 30px;
  }
}
.hand {
  display: block;
  background: url(img/hand.png) no-repeat;
  height: 545px;
  width: 250px;
  position: absolute;
  bottom: -40px;
  right: -40px;
  z-index: -1;
}
@media only screen and (max-width: 1185px) {
  .hand {
    display: none;
  }
}
.info {
  color: #3d4446;
  position: relative;
  margin: 0 0 60px 150px;
}
.info:before {
  content: "";
  display: block;
  width: 105px;
  height: 105px;
  position: absolute;
  left: -130px;
  top: -7px;
  border: 1px solid #e1e1e1;
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  transition: all 0.5s;
}
.info:hover:before,
.info:focus:before,
.info:active:before {
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}
.info--cert:before {
  background-image: url("img/cert-38x54.png");
  background-position: 30px;
}
.info--lector:before {
  background-image: url("img/lector-67x44.png");
  background-position: 20px;
}
.info--invitation:before {
  background-image: url("img/inv-53x54.png");
  background-position: 30px 20px;
}
.info--test:before {
  background-image: url("img/test-37x45.png");
  background-position: 34px;
}
.reference {
  max-width: 95%;
}
.reference__logo__img {
  margin: 25px auto;
  height: 50px;
}
.reference__header {
  color: #3d4446;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 70px;
}
.reference__desc {
  color: #3d4446;
  text-align: center;
  line-height: 27px;
}
.slick-slide {
  margin: 24px;
}
.slick-prev:before {
  content: "";
  display: block;
  float: left;
  position: absolute;
  top: 40%;
  left: -100%;
  background-image: url(img/left-28x56.png);
  width: 28px;
  height: 56px;
}
[dir="rtl"] .slick-next {
  left: -10px;
  top: 70px;
  right: auto;
}
.slick-next:before {
  content: "";
  display: block;
  float: right;
  right: -100%;
  position: absolute;
  top: 40%;
  background-image: url(img/right-28x56.png);
  width: 28px;
  height: 56px;
}
.mailman {
  text-align: right;
}
.mailman__img {
  padding-right: 50px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .mailman__img {
    display: none;
  }
}
.mail-buttons {
  padding-left: 20px;
  padding-top: 35px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .mail-buttons {
    text-align: center;
    padding: 0;
  }
}
.input-mail {
  font-family: 'Roboto', "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: transparent;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  border: 1px solid #cccccc;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  padding: 12px 20px;
  min-width: 260px;
}
.input-mail:focus,
.input-mail :active {
  outline: none;
  box-shadow: 0 0 1pt 1pt #ff6600;
}
.input-mail + input {
  margin-left: -50px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .input-mail + input {
    margin-left: 0;
  }
}
.wrapper {
  margin-bottom: 45px;
}
.footer {
  background-color: #f5f5f5;
  overflow: auto;
  margin-top: 60px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
  margin-top: 50px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .footer__list {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
.footer__list__item {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 30px 0 0;
}
.footer__list__item > a {
  text-decoration: none;
  color: black;
}
.footer__buttons {
  margin-top: 46px;
  text-align: center;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .footer__buttons {
    display: inline-block;
    width: 100%;
  }
}
.footer__buttons__logo {
  border: 1px solid #a7aaab;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}
.footer__buttons__logo:before {
  content: "";
  width: 19px;
  height: 19px;
  display: inline-block;
  position: relative;
  color: #a7aaab;
}
.footer__buttons__logo--facebook:before {
  background: url("img/fb-9x19.png") no-repeat;
  left: 5px;
  top: 3px;
}
.footer__buttons__logo--twitter:before {
  background: url("img/twitter-19x16.png") no-repeat;
  left: 1px;
  top: 5px;
}
.footer__buttons__logo--rss:before {
  background: url("img/rss-16x16.png") no-repeat;
  left: 3px;
  top: 5px;
}
.footer__claim {
  color: #858585;
  font-size: 12px;
  text-align: right;
  margin-top: 50px;
  float: right;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .footer__claim {
    text-align: center;
    width: 100%;
  }
}
.right {
  float: right;
}
.left {
  float: left;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .left {
    float: none;
  }
}
.clear {
  clear: both;
}
.inline-block {
  display: inline-block;
}
.container {
  position: relative;
}
